<nav class="navbar  navbar-expand-sm sticky-top fw-bolder navbar-dark bg-light gradient-custom ">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="supervisorUI.html">
        <img src="../Source/Logo.png" height="50" >
      </a>
      <div class="colla navbar-collapse">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3">
            <a class="nav-link" href="Templates/supervisorUI.html">Menu Principal</a>
          </li>
          <li class=" nav-item ms-3">
            <a  class="nav-link" href="../gPersona.php">Crear Personas</a>
          </li>
          <li class=" nav-item ms-3">
            <a  class="nav-link" href="../gPuerta.php">Crear Puertas</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="supervisorUI.html">Cerrar sesion</a>
          </li>

        </ul>
      </div>
    </div>
</nav>