<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡BIENVENIDO SUPERVISOR!</title>

    <link rel="stylesheet" href="supUI.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</head>
<body>

 
  <nav class="navbar  navbar-expand-sm sticky-top fw-bolder navbar-dark bg-light gradient-custom ">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="supervisorUI.html">
        <img src="../Source/Logo.png" height="50" >
      </a>
      <div class="colla navbar-collapse">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3">
            <a class="nav-link" href="Templates/supervisorUI.html">Menu Principal</a>
          </li>
          <li class=" nav-item ms-3">
            <a  class="nav-link" href="../gPersona.php">Crear Personas</a>
          </li>
          <li class=" nav-item ms-3">
            <a  class="nav-link" href="../gPuerta.php">Crear Puertas</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="supervisorUI.html">Cerrar sesion</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>




  <div class="container position-relative mt-5 align-items-center">
    <div class="row align-items-center ms-5">
        <div class="col-lg-6 col-sm-6">
            <div class="card cards   border-4">
                <div class="card-header fw-bold">
                  CREAR DERECHOS DE ACCESO
                </div>
                <div class="card-body">
                  <h5 class="card-title">Creacion Derechos de acceso</h5>
                  <p class="card-text">Crear accesos para personas </p>
                  <a href="crearDerechoAcceso.html" class="btn btn-primary">CREAR</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-">
            <div class="card border-4" >
                <div class="card-header fw-bold">
                  CONSULTAR ACCESO
                </div>
                <div class="card-body">
                  <h5 class="card-title">Consulta acceso</h5>
                  <p class="card-text">Permite la consulta de un acceso de usuario</p>
                  <a href="formConsultarAcesso.html" class="btn btn-primary">CREAR</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row mt-3 alingn-items-center ms-5">
        <div class="col-lg-6 col-sm-12 ">
            <div class="card cards border-4">
                <div class="card-header fw-bold">
                  GESTIONAR GRUPOS DE PUERTAS
                </div>
                <div class="card-body">
                  <h5 class="card-title">GESTIONAR PUERTAS</h5>
                  <p class="card-text">Cambio de grupo permitido de acceso</p>
                  <a href="gestionarGrupoPuertas.html" class="btn btn-primary">Gestionar</a>
                </div>
              </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card cards border-4">
                <div class="card-header fw-bold">
                  GESTIONAR GRUPOS DE PERSONAS
                </div>
                <div class="card-body">
                  <h5 class="card-title">GESTIONAR PERSONAS</h5>
                  <p class="card-text">Cambio de accesos permitidos</p>
                  <a href="gestionarGrupoPersona.html" class="btn btn-primary">Gestionar</a>
                </div>
              </div>
        </div>
      </div> 
      



   </div>


    
</body>
</html>